.main6{
    display: flex;
    justify-content: space-between;
    background-color: rgba(254,252,243,255);

    /* height: 120vh; */
}

.left6 , .right6{
    flex: 1;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  align-self: center;

}

.left6{
background-image: url("images/18.jpg");
background-position: center !important;
background-size: cover !important;
background-attachment: fixed;
background-repeat: no-repeat;
min-height: 100vh;
/* min-width: 10vw; */
}

/* .left{
  margin-top: 10vh;
  margin-bottom: 10vh;
} */





.editingp h1{
  font-size: 40px;
  font-weight: 100;
  margin-top: -1vh;
}

@media only screen and (max-width: 786px){
  .main6{
    display: grid;
  }
  .left6{
    display: none;
  }
}


/* .namee{
  text-align: left;
  margin-top: 10vh;
  margin-left: 5vw;
} */